{% extends "base.html" %}
{% load static %}

{% block content %}
<div>
        <div class="card" style="width: 18rem;">
    {% if post.image %}
    <img src="{{ post.image.url }}" class="card-img-top" alt="...">
    {% else %}
    <img src="{% static 'landscape-placeholder.svg' %}"  class="card-img-top" alt="...">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{{ post.name }}</h5>
        <h6 class="card-title">{{ post.created_at }}</h6>
        <p class="card-text">{{ post.content }}</p>
        <p class="card-text">{{ post.rate }}</p>
    </div>
    </div>
</div>
{% endblock content %}

