{% extends "base.html" %}

{% load static %}
{% block content %}
<form method="get"  action="" enctype="multipart/form-data">
        {{ form.as_p }}
        <button type="submit">Apply</button> 

    </form>
<div>
    {% for post in posts %}
        <div class="card" style="width: 18rem;">
     {% if post.image %}
    <img src="{{ post.image.url }}" class="card-img-top" alt="...">
    {% else %}
    <img src="{% static 'landscape-placeholder.svg' %}" class="card-img-top" alt="...">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <h6 class="card-title">{{ post.created_at }}</h6>
        <p class="card-text">{{ post.content }}</p>
        <p class="card-text">{{ post.rate }}</p>
        <a href="/list_view/{{ post.id }}" class="btn btn-primary">Info</a>
    </div>
    </div>
</div>
{% endfor %}
    <div style="display: flex; justify-content: center; margin-top: 20px; margin-bottom: 20px;">
        {%for i in max_pages%}
            <a href="/list_view/?page={{ i }}" class="btn btn-primary">
                {{ i }}
            </a>
        {% endfor %}
    </div>
{% endblock content %}
